<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.moko.mkremotegw02.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MKRemoteGW02">

        <activity
            android:name="com.moko.mkremotegw02.activity.GuideActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.mkremotegw02.activity.RemoteMainWithMetering02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.MqttSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkremotegw02.activity.SetAppMQTT02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkremotegw02.activity.ModifyName02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.mkremotegw02.activity.AboutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.DeviceScanner02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.DeviceDetail02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.DeviceSetting02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.DeviceInfo02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.OTA02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.IndicatorSetting02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.DataReportTimeout02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.CommunicationTimeout02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.NetworkReportInterval02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.DuplicateDataFilter02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.ScannerUploadOption02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterMacAddress02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterAdvName02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterRawDataSwitch02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterIBeacon02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterUID02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterUrl02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterTLM02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterOther02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.AdvSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.ScanAndUploadActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.NearbyWifiActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.upload.UploadDataIntervalActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterMKTOFActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterNanoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.upload.UploadDataOption02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.SyncTimeFromNTP02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.SystemTime02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.modify.ModifyMQTTSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.DeviceConfig02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.WifiSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.NetworkSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.NtpSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.ScannerFilter02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.add.DeviceInformation02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.BleManager02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.BleManager02V2Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.BXPButtonInfo02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BleOtherInfo02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.ReconnectTimeout02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterBXPButton02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterBXPTag02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.filter.FilterPIR02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.modify.ModifyNetworkSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.modify.ModifySettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.modify.ModifyWifiSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.settings.ButtonReset02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.BeaconDFU02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkremotegw02.activity.add.AdvertiseIBeacon02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkremotegw02.activity.MeteringSettings02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkremotegw02.activity.PowerMetering02Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPCActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.THDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPBDActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BeaconDFUv2Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPBDRemoteReminderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPAccActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPBAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPBCRActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPBCRRemoteReminderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPCRAlarmEventActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPCTHSampleRateActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPDActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPDAccParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPTActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPTRemoteReminderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPTMotionEventActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPTAccParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPTAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPSHallEventActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPSActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPSAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.BXPSTHHistoryDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKPIRActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKPIRSensorDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKPIRSensorParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKTOFActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKTOFSensorDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKTOFSensorParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.mkremotegw02.activity.beacon.MKTOFAdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="com.moko.mkremotegw02.service.DfuService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.mkremotegw02.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>
